body {
  background-color:darkgray;
  
  
}

h1, h2, p{
 color:white;
}



table {
  width:100%;
}




td {
  color:white;
  padding: 20px;
  border-right: 5px solid white;
  background-color:darkblue;
}

td:hover{
  background-color:yellow;
}


