body {
  background-image: url("djshot2.jpg");
  
}

h1, h2, p{
 color:white;
}


td {
  color:white;
  padding: 20px;
  border: 5px solid white;
  border-radius: 15px;
}




.here {
 color:green;
}


